@import url("./normalize.css");
@import url("./index/variable.css");
@import url("./index/header.css");
@import url("./index/main.css");
@import url("./index/footer.css");



.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;

  color:var(--color6_font_main_color)
}

      button.going_testing {
        background: var(--color4_font_head_baner);
        width: 300px;
        height: 70px;
        border-radius: 82px;

        margin: 0 auto;
        margin-top: 21px;

        border: none;
        color: var(--color1_white);
        font-size: 18px;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 13px;
          height: 13px;
          margin-left: 5px;
        }
      }
      
