

body {
  position: relative;
  background: var(--color7_bg_footer);
  box-sizing: border-box;
}

.main_bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left:50%;
  transform:translate(-50%, 0px);
}

.bg_canvas {
  position: relative;
  width: 100vw;
  width: 1160px;
  height: 3590px;
  overflow: hidden;

  left:50%;
  transform:translate(-50%, 0px);
}
.circle {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.up_group {
  position: absolute;
  width: inherit;
  height: 50%;
  top: -11%;
  left: -5px;
  box-sizing: border-box;

  .up_1 {
    width: 1100px;
    height: 1075px;
    background: radial-gradient(circle, #f1f4f7 50%, #f0f4f9 100%);
    border: none;
    .up_2 {
      width: 797px;
      height: 779px;
      background: radial-gradient(circle, #ebf3f7 50%, #fbfcfd 70%);

      top:50.6%;
      .up_3 {
        width: 585px;
        height: 572px;
        background: radial-gradient(circle, #eef4f7 50%, #f6f9fb 70%);
        .up_4 {
          width: 404px;
          height: 395px;
          background: radial-gradient(circle, #ebf3f7 50%, #fbfcfd 70%);
          .up_5 {
            width: 257px;
            height: 251px;
            background: radial-gradient(circle, #eff6f9 50%, #f5fafb 70%);
            top:48.4%;
          }
        }
      }
    }
  }
}
.down_group {
  position: absolute;
  width: inherit;
  height: 50%;
  bottom: 20.8%;
  left: -8px;
  box-sizing: border-box;
  border: none;

  .down_1 {
    width: 2011px;
    height: 2000px;
    background: red;
    background: radial-gradient(circle, #eaf3f6 50%, #f9f9fb 60%);

    .down_2 {
      width: 1458px;
      height: 1426px;
      background: orange;
      background: radial-gradient(circle, #eaf3f6 50%, #f4f7f9 70%);

      .down_3 {
        width: 1070px;
        height: 1046px;
        background: yellow;
        background: radial-gradient(circle, #eaf4f8 50%, #f5f9fa 70%);

        .down_4 {
          width: 739px;
          height: 723px;
          background: radial-gradient(circle, #ebf5f8 50%, #f6fafb 70%);
          .down_5 {
            width: 471px;
            height: 460px;
            background: radial-gradient(circle, #f2f7f9 50%, #f0f6f9 70%);
          }
        }
      }
    }
  }
}
