header {
  /* background: var(--color2_bg_header); */
  position: relative;
  overflow: hidden;


  padding-top: 6px;

  .header {
    margin: 0 auto;
    background-color: var(--color1_white);
    height: 41px;
    padding-left: 14px;
    padding-right: 12px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 75px;

    .logo {
      width: 40px;
      height: 15px;
      background: url("../../img/logo/header_logo.svg");
    }
    .sing_in {
      border-radius: 34px;
      width: 78px;
      height: 29px;
      border: none;

      background: var(--color3_bg_button);
      color: var(--color1_white);

      font-size: 10px;
      font-weight: 500;
    }
    .mobil_menu {
      width: 17px;
      height: 14px;
      border: none;
      background: url(../../img/icons/header_menu.svg);
    }
  }

  .head__banner {
    padding-top: 24px;
    padding-bottom: 92px;

    .side_1 {
      .head__banner__text {
        margin: 0 auto;
        width: 300px;

        font-size: 22px;
        text-align: center;
        font-weight: 500;

        span.red {
          color: var(--color4_font_head_baner);
        }
        span.bold {
          font-weight: bold;
        }
      }
      .head__banner__stroke {
        border-bottom: 1px solid var(--color5_stroke);
        width: 300px;
        height: 1px;
        padding-top: 18px;
        margin: 0 auto;
      }
      .go_test {
        font-size: 12px;
        text-align: center;
        padding-top: 9px;
      }

    }
    .side_2 {
      padding-top: 63px;
      width: 100%;
      position: relative;

      img {
        display: block;
        margin: 0 auto;
        width: 210px;
        height: 220px;
      }
    }
  }

}
