main {
  .max-width {
    max-width: 1400px;
  }
}

.width_technology {
  background: var(--color1_white);
  /* width: 320px; */
  margin: 0 auto;

  h2 {
    text-align: center;
    padding-top: 13px;
    font-size: 24px;
    width: 200px;
    margin: 0 auto;
    @media (min-width: 1200px) {
      font-size: 46px;
      width: auto;
    }
  }
  .techno_block {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    margin: 0 auto;
    @media (min-width: 1200px) {
      width: 1160px;
      box-sizing: border-box;
      background-color: #eaf2f5;
      padding-left: 122px;
      padding-right: 104px;
      border-radius: 48px;
      padding-top: 42px;
      /* align-items:center; */
    }

    img {
      display: none;
      @media (min-width: 1200px) {
        display: block;
      }
    }
    .right_block {
      align-self: flex-end;
      padding-bottom: 86px;

      .technology_list {
        background-color: #eaf2f5;
        border-radius: 30px;
        width: 300px;

        margin: 0 auto;
        margin-top: 13px;
        padding: 17px 16px 18px 17px;

        box-sizing: border-box;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (min-width: 1200px) {
          width: 468px;
          height: 157px;
          justify-content: start;
          padding: 0;
          margin: 0;
        }

        .tlist_item {
          font-size: 14px;
          font-weight: 400;
          height: 45px;
          border-radius: 44px;

          display: inline-flex;
          align-items: center;
          justify-content: center;

          color: var(--color1_white);
          &:not(:first-child) {
            margin-top: 17px;
            @media (min-width: 1200px) {
              margin-top: 0;
              /* margin-left: 10px; */
            }
          }
          @media (min-width: 1200px) {
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
        .blue {
          background-color: #5096ff;
          width: 267px;
          @media (min-width: 1200px) {
            width: 311px;
          }
        }
        .orang {
          background-color: #ffb359;
          width: 99px;
          @media (min-width: 1200px) {
            width: 89px;
          }
        }
        .red {
          background-color: #ff6f50;
          width: 160px;
          @media (min-width: 1200px) {
            width: 151px;
          }
        }
        .green {
          background-color: #4bd071;
          width: 267px;
          @media (min-width: 1200px) {
            width: 277px;
          }
        }
        .light_blue {
          background-color: #50c0ff;
          width: 267px;
          @media (min-width: 1200px) {
            width: 258px;
          }
        }
        .gray {
          background-color: #4b77b9;
          width: 129px;
          @media (min-width: 1200px) {
            width: 95px;
          }
        }
        .lilac {
          background-color: #af93ff;
          width: 129px;
          @media (min-width: 1200px) {
            width: 93px;
          }
        }
      }
      .minimum {
        display: none;
        @media (min-width: 1200px) {
          display: block;
          width: 397px;
          padding-top: 25px;
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
}

.learn_in_YtYt {
  padding-top: 26px;
  background-color: var(--color1_white);
  /* border-radius:0px 0px 30px 30px; */
  border-bottom-left-radius: 25px 17px;
  border-bottom-right-radius: 25px 17px;
  /* width: 320px; */
  margin: 0 auto;

  h2 {
    font-size: 24px;
    font-weight: 400px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }

  .learn_in_YtYt__card_block {
    margin: 0 auto;
    width: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 22px;

    .card {
      box-sizing: border-box;

      width: 145px;
      height: 175px;
      margin-top: 10px;

      border-radius: 20px;
      background: var(--color7_bg_learn_card);

      text-align: center;
      font-weight: 400;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &:nth-child(3),
      &:nth-child(4) {
        height: 155px;
      }

      &:last-child {
        width: 300px;
        height: 86px;

        flex-direction: row;
        align-items: center;

        padding-left: 45px;
        padding-right: 47px;

        .text_block {
          width: 154px;
          text-align: left;
        }
      }

      h4 {
        font-size: 12px;
        max-width: 128px;
      }

      p {
        font-size: 9px;
      }
    }
    .many_practice {
      padding-top: 24px;
      padding-bottom: 20px;
      margin-top: 0;
    }
    .direct_connection {
      padding-top: 25px;
      padding-bottom: 23px;
      margin-top: 0;
      p {
        padding: 0 23px;
      }
    }
    .simple_statement {
      padding-top: 27px;
      padding-bottom: 10px;
      h4 {
        max-width: none;
      }
      p {
        padding: 0 7px;
      }
    }
    .flexible_schedule {
      padding-top: 24px;
      padding-bottom: 10px;
      p {
        padding: 0 17px;
      }
    }
    .modern_techniques {
      padding-top: 25px;
      padding-bottom: 19px;
      h4 {
        max-width: none;
      }
      p {
        padding: 0 12px;
      }
    }
    .flexible_payment {
      padding-top: 22px;
      padding-bottom: 15px;
      h4 {
        max-width: none;
      }
      p {
        padding: 0 12px;
      }
    }
  }
}

.tuition_fees {
  margin-top: 39px;
  h2 {
    font-size: 22px;
    text-align: center;
  }
  .banner_blocks {
    margin-top: 28px;
    text-align: center;

    .banner {
      margin: 0 auto;
      width: 248px;
      p {
        padding-top: 12px;
        font-size: 12px;
        line-height: 17px;
      }
      &:not(:first-child) {
        margin-top: 21px;
      }
    }
    .banner_block_2 {
      margin: 0 auto;
      margin-top: 33px;
      padding-bottom: 18px;
      padding-top: 42px;
      width: 300px;

      border: none;
      border-radius: 30px;

      background: var(--color7_bg_learn_card);

      p {
        font-size: 12px;
        line-height: 22px;
        margin: 21px 17px 0;
      }
      .start_learning {
        width: 257px;
        height: 60px;
        margin-top: 13px;
      }
    }
  }
}
